{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}


	{% require_css %}
		<style>
			{{ macros.design_settings(name, module.design_settings) }}
			.{{ name }} .sr-card {
				{{ module.design_settings.card_styles.spacing.css }}
				{%- if module.design_settings.card_styles.background_color == "gradient" -%}
				background: {{ module.design_settings.card_styles.background_gradient.css }};
				{%- elif module.design_settings.card_styles.background_color == "custom" -%}
				background-color: {{ module.design_settings.card_styles.background_custom.css }};
				{%- elif module.design_settings.card_styles.background_color != "auto" -%}
				background-color: var(--{{ module.design_settings.card_styles.background_color }});
				{%- endif -%}
				{%- if module.design_settings.card_styles.text_color == "custom" %}
				color: {{ module.design_settings.card_styles.text_color_custom.css }};
				{%- endif -%}
				{% if module.design_settings.card_styles.border.css %}
				{{ module.design_settings.card_styles.border.css }}
				{% endif %}
				{% if module.design_settings.card_styles.border_radius >= 0 %}
				border-radius: {{ module.design_settings.card_styles.border_radius }}px;
				{% endif %}
				{% if module.design_settings.card_styles.shadow %}
				box-shadow: {{ "inset" if module.design_settings.card_styles.inset }} {{ module.design_settings.card_styles.horizontal ~ "px" }} {{ module.design_settings.card_styles.vertical ~ "px" }} {{ module.design_settings.card_styles.blur ~ "px" }} {{ module.design_settings.card_styles.spread ~ "px" }} {{ module.design_settings.card_styles.color.css }};
				{% endif %}
			}
		</style>
	{% end_require_css %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}

	<div class="sr-offer-faux-modal-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
		{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }}">
		{% endif %}
					<div class="well sr-card sr-border text-{{ module.design_settings.card_styles.text_color }}">
						<div class="row row-gap align-items-center">
							{% if module.featured_image.src %}
							<div class="col-lg-6 text-center">
								{{ macros.image(module.featured_image) }}
							</div>
							{% endif %}
							<div class="col-lg-6">
								{{ macros.image(module.logo, 'class="mb-4"') }}
								{{ macros.heading(module.heading, "mb-4") }}
								{% if module.description %}
								<div class="description{% if module.lead_text %} lead{% endif %}">
									{{ module.description}}
								</div>
								{% endif %}
								{{ macros.form(module.form) }}
							</div>
						</div>
			{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endif %}