{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}
	{% import "../../templates/ac-macros.html" as ac %}

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}

		{% if module.design_settings.divider_color.color %}
		.{{ name }} .ac-steps {
			--ac-divider: {{ macros.color(module.design_settings.divider_color) }};
		}
		{% endif %}
	</style>
	{% end_require_css %}

	{# Choice fields return strings; coerce and clamp so the grid cannot collapse. #}
	{% set cols = module.columns|int %}
	{% set cols = cols in [3, 4, 6] ? cols : 6 %}

	<div class="ac-steps-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} {{ ac.text_color_class(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ ac.width_class(module.design_settings) }}">
			{% endif %}

					{# ---------- Intro ---------- #}
					{% if module.eyebrow || module.show_eyebrow_rule || module.heading.heading_text || module.description %}
					<div class="ac-steps__intro text-{{ module.intro_align }} sr-spacer-bottom-50">

						{{ ac.eyebrow(module, '{% if module.heading.heading_text || module.description %}sr-spacer-bottom-25{% endif %}') }}

						{{ ac.heading(module, 'ac-steps__heading' ~ (' sr-spacer-bottom-25' if module.description else '')) }}

						{% if module.description %}
						<div class="description ac-steps__description">{{ module.description }}</div>
						{% endif %}

					</div>
					{% endif %}

					{# ---------- Steps ---------- #}
					<ol class="ac-steps ac-steps--{{ cols }}{% if module.show_rule %} ac-steps--ruled{% endif %} text-{{ module.step_align }}">
						{% for item in module.steps %}
						<li class="ac-steps__item">
							{% if item.number %}
							<span class="ac-steps__number">{{ item.number }}</span>
							{% endif %}
							{% if item.title %}
							<{{ module.step_title_tag }} class="ac-steps__title heading{% if module.step_title_size != 'auto' %} {{ module.step_title_size }}{% endif %}">{{ item.title }}</{{ module.step_title_tag }}>
							{% endif %}
							{% if item.text %}
							<div class="ac-steps__text description">{{ item.text }}</div>
							{% endif %}
						</li>
						{% endfor %}
					</ol>

			{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}

		</div>
	</div>

	{{ ac.heading_scripts(module) }}

{% endif %}
