.sr-hero-features .hero-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sr-hero-features.hero-overlap {
    margin-top: -4rem;
}

.sr-hero-features .sr-cover-inner {
    width: 100%;
}

.sr-hero-features .hero-feature {
    border-style: solid;
    border-width: 1px;
    height: 100%;
}

.sr-hero-features .feature-row {
    row-gap: 30px;
}

.sr-hero-features .blaze-pagination button {
    background: var(--dots-color);
}


.sr-hero-02 .height-auto     { min-height: 0vh; }
.sr-hero-02 .height-small    { padding: 8rem 0; }
.sr-hero-02 .height-medium   { padding: 14rem 0; }
.sr-hero-02 .height-large    { padding: 20rem 0; }
.sr-hero-02 .height-full     { min-height: 100vh; }