.sr-hero-404.sr-cover-parallax .sr-cover-inner {
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    position: relative;
}
.sr-hero-404.sr-cover-parallax .height-auto     { min-height: 0vh; }
.sr-hero-404.sr-cover-parallax .height-small    { padding: 8rem 0; }
.sr-hero-404.sr-cover-parallax .height-medium   { padding: 14rem 0; }
.sr-hero-404.sr-cover-parallax .height-large    { padding: 20rem 0; }
.sr-hero-404.sr-cover-parallax .height-full     { min-height: 100vh; }