.sr-cards-image-01 {
    padding-top: 4.75rem;
}
.card-carousel.row.row_gutter .col-md-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sr-cards-image-01 .slick-dots {
    margin: 0;
    padding: 1.71875rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
}
.sr-cards-image-01 .slick-dots button {
    display: none;
}
.sr-cards-image-01 .slick-dots > li {
    padding: 0 0.625rem;
    cursor: pointer;
}
.sr-cards-image-01 .slick-dots > li:before {
    content: '';
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border: solid 3px transparent;
    border-radius: 50%;
    background-color: #0C63FF;
    background-color: var(--primary);
}
.sr-cards-image-01 .slick-dots > li.slick-active:before {
    box-shadow: 0 0 0px 5px #0C63FF;
    background-color: #fff;
}
.sr-cards-image-01 .card-image img {
    border-radius: 50%;
    margin: 0 auto;
}
.sr-cards-image-01 .media {
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #e8e8e8;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 1.875rem;
    height: 100%;
}
.sr-cards-image-01 .item-card {
    -webkit-box-shadow: 15px 10px 20px 0 rgba(0, 0, 0, 0.00);
    box-shadow: 15px 10px 20px 0 rgba(0, 0, 0, 0.00);
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.sr-cards-image-01 .item-card:hover,
.sr-cards-image-01 .item-card:has(:is(.cta_button,.cta-button,[data-hubspot-cta-id]):focus) {
    -webkit-box-shadow: 15px 10px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 15px 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.sr-cards-image-01 .card-heading {
    margin-top: 2rem;
    width: 100%;
}
.sr-cards-image-01 .card-image, .card-description {
    width: 100%;
}
.sr-cards-image-01 .btn-wrapper {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.sr-cards-image-01 .item-card:hover .btn-wrapper,
.sr-cards-image-01 .item-card:has(:is(.cta_button,.cta-button,[data-hubspot-cta-id]):focus) .btn-wrapper {
    max-height: 100px;
    overflow: visible;
}
.sr-cards-image-01 .media-body {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .sr-cards-image-01 .slick-list {
        overflow: visible;
        width: 100%;
    }
    .sr-cards-image-01 a.media:hover {
        border-color: #fff;
        box-shadow: 15px 25px 60px 0 rgba(0,0,0,0.1);
        transform: translateY(-5px);
        cursor: pointer;
    }
}
@media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
    .sr-cards-image-01 .slick-list,
    .sr-cards-image-01 .slick-track {
        width: 100% !important;
    }
}
.sr-cards-image-01 .media img {
    width: 3.125rem;
    margin-right: 0.9375rem;
    height: auto;
}
@media(max-width: 767px) {
    .sr-cards-image-01 .item-card {
        padding: 2rem;
        opacity: 1;
    }
    .sr-cards-image-01 .card-carousel.row > div {
        margin: 1.5rem 0;
    }
    .sr-cards-image-01 .item-card:first-child {
        margin-top: 0;
    }
    .sr-cards-image-01 .item-card:last-child {
        margin-bottom: 0;
    }
    .sr-cards-image-01 .btn-wrapper {
        display: block !important;
        max-height: 100px;
    }
    .sr-cards-image-01 .media .media-body {
        -webkit-box-flex: inherit;
        -ms-flex: inherit;
        flex: inherit;
    }
    .card-description, .sr-cards-image-01 .item-card {
        min-height: 0 !important;
    }
}
.sr-cards-image-01 .media .card-heading {
    margin-bottom: 0;
    text-transform: uppercase;
}
.sr-cards-image-01 .media .card-description {
    margin-bottom: 0;
    opacity: 0.7;
}