{% if module.enabled %}

	{% if (module.show_on_first && current_page_num == 1) || !module.show_on_first %}

    {% if module.data %}
        {% set post = content_by_id(module.data) %}
    {% else %}
        {% set post = contents[0] %}
    {% endif %}

    {% set blog_ns.hero = post.id %}

    {% import "../../../../templates/macros.html" as macros %}

    {% require_css %}
    <style>
        {% if module.design_settings.background_option == 'post' %}
        .{{name}} {
            background-image: url({{ resize_image_url(post.featured_image, '1440') }});
            background-size: cover;
            background-position: center;
            background-color: {{ macros.color(module.design_settings.background_custom) }};

        }
        @media (min-width: 768px) {
            .{{name}} {
                background-image: url({{ resize_image_url(post.featured_image, '2880') }});
            }
        }
        .{{name}},
        .{{name}} > div {
            position: relative;
        }
        .{{name}}::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: {{ macros.color(module.design_settings.background_overlay_color) }};
        }
        {{ macros.design_settings(name, module.design_settings, true) }}
        {% else %}
        {{ macros.design_settings(name, module.design_settings) }}
        {% endif %}
    </style>
    {% end_require_css %}

    {% if module.design_settings.container_width == 'min' %}
        {% set width_class = 'col-md-6 offset-md-3' %}
    {% elif module.design_settings.container_width == 'narrow' %}
        {% set width_class = 'col-md-8 offset-md-2' %}
    {% elif module.design_settings.container_width == 'wide' %}
        {% set width_class = 'col-md-10 offset-md-1' %}
    {% else %}
        {% set width_class = 'col-md-12' %}
    {% endif %}


    <div class="sr-blog-hero-01 {{ name }} {% if module.design_settings.background_option == 'color' %} bg-{{ module.design_settings.background_color }}{% endif %} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %}" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %}>

        {% if module.design_settings.background_option == 'video' %}
        {{macros.bg_video(module.background_video, module.design_settings.background_image.src)}}
        {% endif %}

        <div class="{{ module.design_settings.layout }}">
            <div class="row">
                <div class="{{ width_class }}">
                    <div class="row">
                        <div class="col-12{% if module.layout == 'two' %} col-md-6{% endif %}">
                            <div class="blog-hero-content">
                                {% if module.tags %}
                                {% for topic in post.topic_list %}
                                <div class="tag">
                                    <a  href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if !loop.last %},{% endif %}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <a href="{{ post.absolute_url }}">
                                    {% set heading = module.heading %}
                                    <{{heading.heading_size|int ? 'h' ~ heading.heading_size : heading.heading_size}} class="heading mb-0{% if class %} {{class}}{% endif %}{% if heading.class %} {{heading.class}}{% endif %}{% if heading.heading_display_size != 'auto' %} {{ heading.heading_display_size }}{% endif %}{% if heading.heading_color != 'auto' %} text-{{ heading.heading_color }}{% endif %}" {% if heading.heading_color == 'custom' %}style="color: {{ color(heading.heading_color_custom) }}"{% endif %}>{{ post.name }} </{{heading.heading_size|int ? 'h' ~ heading.heading_size : heading.heading_size}}>
                                </a>
                            </div>
                        </div>
                        <div class="col-12{% if module.layout == 'two' %} col-md-6{% endif %}">
                            <div class="blog-hero-content">
                                {% if module.date || module.author %}
                                <div class="data mb-3 cta-group">
                                    {% if post.blog_post_author && module.author %}
                                    <div class="avatar">
                                        <img src="{{ post.blog_post_author.avatar }}" alt="{{ post.blog_post_author.full_name }}" />
                                    </div>
                                    {% endif %}
                                    <div class="meta text-left">
                                        {% if post.blog_post_author && module.author %}
                                        {{ module.author_prefix }}<a class="author-link" href="{{ blog_author_url(group.id, post.blog_post_author.slug) }}">{{ post.blog_post_author.full_name }}</a>
                                        {% endif %}

                                        {% if module.date %}
                                        <br>{{ module.date_prefix }}{{ post.publish_date_localized }}
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="content">
                                    {% if module.summary %}
                                    <div class="{% if module.date || module.author %}mt-3{% endif %}"><p{% if module.lead_text %} class="lead"{% endif %}>{{ post.post_list_content|striptags|truncate(200) }}</p></div>
                                    {% endif %}
                                    {% if module.ctas.enabled %}
                                    {{macros.cta([module.ctas], '{% if !module.summary %}mt-3{% endif %}') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endif %}
{% endif %}