{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}
	{% import "../../templates/ac-macros.html" as ac %}

	{% set divider = module.design_settings.divider_color.color ? macros.color(module.design_settings.divider_color) : 'var(--borders)' %}

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}

		.{{ name }} .ac-acc {
			--ac-divider: {{ divider }};
		}
	</style>
	{% end_require_css %}

	{# Only load the accordion assets when a point actually has detail.
	   Built as a list because {% set %} inside a loop does not escape it. #}
	{% set detail_flags = [] %}
	{% for item in module.points %}
		{% if item.detail && item.detail|striptags|trim %}{% do detail_flags.append(1) %}{% endif %}
	{% endfor %}
	{% set has_expandable = detail_flags|length > 0 %}

	<div class="ac-accordion-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} {{ ac.text_color_class(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ ac.width_class(module.design_settings) }}">
			{% endif %}

					<div class="row ac-acc align-items-{{ module.columns_align }} ac-points-{{ module.points_size }}">

						{# ---------- Left column ---------- #}
						{# A fixed 5/7 split, the same as Statement 01. #}
						<div class="col-lg-5 sr-col ac-acc__intro sr-spacer-bottom-50">
							<div class="content-wrapper">

							{{ ac.eyebrow(module, 'sr-spacer-bottom-25' if module.heading.heading_text || module.lead else '') }}

							{{ ac.heading(module, 'ac-acc__heading' ~ (' sr-spacer-bottom-25' if module.lead else '')) }}

							{% if module.lead %}
							<div class="description ac-acc__lead">{{ module.lead }}</div>
							{% endif %}

							</div>
						</div>

						{# ---------- Points list ---------- #}
						{% if module.points %}
						<div class="col-lg-7 sr-col ac-acc__list-col">
							<div class="content-wrapper">
							<ul class="ac-acc__list">
								{% for item in module.points %}
								{% if item.text %}
								{% set has_detail = item.detail && item.detail|striptags|trim %}
								<li class="ac-acc__item{% if has_detail %} ac-acc__item--expandable{% endif %}">
									{% if has_detail %}
									{# A real button, so the point is focusable and announced as expandable. #}
									<button type="button" class="ac-acc__toggle" aria-expanded="false" aria-controls="{{ name }}-detail-{{ loop.index }}">
										<span class="ac-acc__rule" aria-hidden="true"></span>
										<span class="ac-acc__text">{{ item.text }}</span>
									</button>
									<div class="ac-acc__detail" id="{{ name }}-detail-{{ loop.index }}" hidden>
										<div class="ac-acc__detail-inner description">{{ item.detail }}</div>
									</div>
									{% else %}
									<span class="ac-acc__rule" aria-hidden="true"></span>
									<span class="ac-acc__text">{{ item.text }}</span>
									{% endif %}
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							</div>
						</div>
						{% endif %}

					</div>

			{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}

		</div>
	</div>


	{{ ac.heading_scripts(module) }}

	{% if has_expandable %}
	{{ require_js(get_asset_url('../../js/gsap.js'), { defer: true, position: head }) }}
	{{ require_js(get_asset_url('../../js/ac-expandable-points.js'), { defer: true }) }}
	{% endif %}

{% endif %}
