{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}
	{% import "../../templates/ac-macros.html" as ac %}

	{% set divider = module.design_settings.divider_color.color ? macros.color(module.design_settings.divider_color) : 'var(--borders)' %}
	{% set cols = module.columns|int %}
	{% set cols = cols >= 2 and cols <= 4 ? cols : 4 %}

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}

		.{{ name }} .ac-stats {
			--ac-divider: {{ divider }};
			--ac-stats-cols: {{ cols }};
		}
	</style>
	{% end_require_css %}

	<div class="ac-stats-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} {{ ac.text_color_class(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }} content-wrapper">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ ac.width_class(module.design_settings) }}">
			{% endif %}

					{% if module.eyebrow || module.show_eyebrow_rule || module.heading.heading_text %}
					<div class="ac-stats-intro sr-spacer-bottom-50">
						{{ ac.eyebrow(module) }}

						{{ ac.heading(module, 'ac-stats-heading') }}
					</div>
					{% endif %}

					<div class="ac-stats{% if module.show_top_rule %} ac-stats--ruled{% endif %}{% if module.count_up %} ac-stats--count{% endif %}">
						{% for item in module.stats %}
						{% if item.value || item.caption %}
						<div class="ac-stat">
							{% if item.value %}
							<p class="ac-stat__value" data-value="{{ item.value }}">{{ item.value }}</p>
							{% endif %}
							{% if item.caption %}
							<p class="ac-stat__label">{{ item.caption }}</p>
							{% endif %}
						</div>
						{% endif %}
						{% endfor %}
					</div>

			{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}

		</div>
	</div>

	{% if module.count_up %}
	{{ require_js(get_asset_url('../../js/gsap.js'), { defer: true, position: head }) }}
	{{ require_js(get_asset_url('../../js/ScrollTrigger.js'), { defer: true, position: head }) }}
	{{ require_js(get_asset_url('../../js/TextPlugin.js'), { defer: true, position: head }) }}
	{{ require_js(get_asset_url('../../js/ac-stats-count.js'), { defer: true }) }}
	{% endif %}


	{{ ac.heading_scripts(module) }}

{% endif %}
