.sr-cards-pricing-02 {
  overflow: hidden;
}

.sr-cards-pricing-02 .col-lg-4 {
  border-style: solid;
  border-width: 1px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 1rem 0;
}

.sr-cards-pricing-02 .col-lg-4:hover,
.sr-cards-pricing-02 .col-lg-4:has(.hiddenBtn .hiddenBtn:focus) {
  z-index: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.sr-cards-pricing-02 .col-lg-4:has(.hiddenBtn .hiddenBtn:focus) {
  outline: -webkit-focus-ring-color auto 1px;
}

.hiddenBtn {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.hiddenBtn .hiddenBtn, 
.hiddenBtn .hiddenBtn:is(:hover, :focus) {
  background: transparent;
  border: 0;
  font-size: 0px !important;
  height: 100%;
  border-radius: 0 !important;
  opacity: 0;
  z-index: 1;
}

.sr-cards-pricing-02 .pricing-description p {
  font-weight: 600;
  line-height: 2rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sr-cards-pricing-02 ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1rem;
}

.sr-cards-pricing-02 ul li {
  border-top: 1px solid var(--borders);
  margin: 1.5rem 0;
  position: relative;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sr-cards-pricing-02 ul li:before {
  content: '\f00c';
  font-family: fontawesome;
  font-size: 1rem;
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  display: block;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  margin-right: 1rem;
}

@media (min-width: 992px) {
  .sr-cards-pricing-02 .col-lg-4 {
    margin: 0;
  }
  .sr-cards-pricing-02 .col-lg-4:nth-child(2):not(:hover) {
    border-right-color: transparent;
    border-left-color: transparent ;
  }
}