{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}
	</style>

	{% end_require_css %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}

	<div class="sr-offer-bar-03 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }} ">
			{% endif %}
					<div class="row align-items-{{ module.column_vertical_align }}">
						<div class="{{ macros.col_size(module.columns.left_column) }} offer-content d-flex flex-column flex-{{ module.columns.left_column[0].column_breakpoint }}-row align-items-center {% if module.ctas %}mb-4 mb-{{ module.columns.left_column[0].column_breakpoint }}-0{% endif %}">
							{{ macros.image(module.bling_image) }}
							<div class="offer-text-wrapper">
								{{ macros.heading(module.heading) }}
								{% if module.description %}
								<div class="description{% if module.lead_text %} lead{% endif %}">
									{{ module.description }}
								</div>
								{% endif %}
							</div>
						</div>
						{% if module.ctas %}
						<div class="{{ macros.col_size(module.columns.right_column) }} text-{{ module.columns.right_column[0].column_breakpoint }}-right">
							{{ macros.cta(module.ctas, 'button-wrapper') }}
						</div>
						{% endif %}
					</div>
			{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endif %}