{% if module.enabled %}

{% if (module.only_on_first_page && current_page_num == 1) || !module.only_on_first_page %}

    {% set blog_listing = namespace() %}  {# create a new namespace object to store variables #}

    {% if blog_ns.hero %}  {# check if there is a hero post #}

        {% if module.posts_to_show && module.posts_to_show > 0 %}  {# check if the number of posts to show is specified #}
            {% set contents_two = [] %}  {# create an empty list to store posts #}
            {% set blog_listing.specified_posts_number = true %}  {# set a flag to indicate that the number of posts to show is specified #}
            {% set blog_ns.specified_posts_number = true %}  {# set a flag to indicate that the number of posts to show is specified #}
            {% for content in blog_recent_posts("default", 250) %}  {# loop through recent blog posts #}
                {% if content.id != blog_ns.hero %}  {# check if the post is not the hero post #}
                    {% do contents_two.append(content) %}  {# add the post to the list #}
                {% endif %}
            {% endfor %}
        {% else %}
            {% set contents_two = [] %}  {# create an empty list to store posts #}
            {% set blog_ns.specified_posts_number = false %}  {# set a flag to indicate that the number of posts to show is not specified #}
            {% for content in contents %}  {# loop through all blog posts #}
                {% if content.id != blog_ns.hero %}  {# check if the post is not the hero post #}
                    {% do contents_two.append(content) %}  {# add the post to the list #}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}

        {% if module.posts_to_show && module.posts_to_show > 0 %}  {# check if the number of posts to show is specified #}
            {% set blog_listing.specified_posts_number = true %}  {# set a flag to indicate that the number of posts to show is specified #}
            {% set blog_ns.specified_posts_number = true %}  {# set a flag to indicate that the number of posts to show is specified #}
            {% set contents_two = blog_recent_posts("default", 250) %}  {# get the most recent blog posts #}
        {% else %}
            {% set contents_two = contents %}  {# use all blog posts #}
            {% set blog_ns.specified_posts_number = false %}  {# set a flag to indicate that the number of posts to show is not specified #}
        {% endif %}

    {% endif %}

    {% if module.tag_filter %}  {# check if a tag filter is specified #}
        {% set contents_three = contents_two %}  {# create a copy of the list of posts #}
        {% set blog_listing.specified_tag = true %}  {# set a flag to indicate that a tag filter is specified #}
        {% set contents_two = [] %}  {# create an empty list to store posts #}
        {% for content in contents_three %}  {# loop through all posts #}
            {% for topic in content.topic_list %}  {# loop through all topics for the post #}
                {% if topic.slug == module.tag_filter %}  {# check if the topic matches the tag filter #}
                    {% do contents_two.append(content) %}  {# add the post to the list #}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endif %}

{% import "../../../../templates/macros.html" as macros %}

{% require_css %}
<style>
    {{ macros.design_settings(name, module.design_settings) }}
    {% if module.design_settings.text_color != 'auto' %}
    .sr-blog-listing-03 .article-panel a {
        color: inherit;
    }
    {% endif %}
</style>
{% end_require_css %}

<div class="sr-blog-listing-03 {{ name }} {% if module.design_settings.background_option == 'color' %} bg-{{ module.design_settings.background_color }}{% endif %} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} prototype-no-background">
    {% if module.design_settings.background_option == 'video' %}
    {{macros.bg_video(module.background_video, module.design_settings.background_image.src)}}
    {% endif %}

    <div class="articles-list">

        {% if blog_author %}
        <div class="text-center">
            <h4 class="more-author">
                More from {{ blog_author.display_name }}
            </h4>
        </div>
        {% endif %}

        {% if tag %}
        <div class="text-center">
            <h4>Posts about {{ page_meta.html_title|split(' | ')|last }}</h4>
        </div>
        {% endif %}

        <div class="latest-posts">
            {% for content in contents_two %}
            {% if module.post_start == 0 || (loop.index >= (module.post_start)) %}
            {% set blog_listing.posts_shown = blog_listing.posts_shown + 1 %}
            {% if (module.posts_to_show == 0 || !module.posts_to_show) || (blog_listing.posts_shown <= module.posts_to_show) %}
            <div class="article-panel d-md-flex">
                {% if content.featured_image && module.post_card.featured_image %}
                <a href="{{ content.absolute_url }}">
                    <div class="article-image">
                        <img src="{{ content.featured_image }}" alt="{{ content.featured_image_alt_text }}" class="img-fluid">
                    </div>
                </a>
                {% endif %}
                <div class="article-content {% if content.featured_image && module.post_card.featured_image %}pl-0 pl-md-3 pt-3 pt-md-0{% endif %}">
                    {% if module.post_card.tags %}
                    {% for topic in content.topic_list %}
                    <div class="tag">
                        <a  href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if !loop.last %},{% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <a href="{{ content.absolute_url }}">
                    {% set heading = module.post_card.heading %}
                    <{{heading.heading_size|int ? 'h' ~ heading.heading_size : heading.heading_size}} class="heading article-name  mb-0{% if class %} {{class}}{% endif %}{% if heading.class %} {{heading.class}}{% endif %}{% if heading.heading_display_size != 'auto' %} {{ heading.heading_display_size }}{% endif %}{% if heading.heading_color != 'auto' %} text-{{ heading.heading_color }}{% endif %}" {% if heading.heading_color == 'custom' %}style="color: {{ color(heading.heading_color_custom) }}"{% endif %}>{{ content.name }} </{{heading.heading_size|int ? 'h' ~ heading.heading_size : heading.heading_size}}>
                    </a>
                    <div class="article-meta my-3">
                        {% if content.blog_post_author && module.post_card.author %}
                        <span class="author">{{ module.post_card.author_prefix }}<strong><a href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.full_name }}</a>,</strong></span>
                        {% endif %}
                        {% if module.post_card.date %}
                        <span class="date"><strong>{{module.post_card.date_prefix}}{{ content.publish_date_localized }}</strong></span>
                        {% endif %}
                    </div>
                    {% if module.post_card.summary %}
                    <div>
                        <p{% if module.post_card.lead_text %} class="lead"{% endif %}>
                            {{ content.post_list_content|striptags|truncate(200) }}
                        </p>
                    </div>
                    {% endif %}
                    {% if module.post_card.ctas.enabled %}
                    {{ macros.cta([module.post_card.ctas], '{% if !module.post_card.summary %}mt-3{% endif %}') }}
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if (blog_listing.specified_posts_number && !blog_listing.specified_tag) || (blog_listing.specified_posts_number && blog_listing.specified_tag) %}
            {% if module.load_more.enabled %}
            <div class="cta-group ">
                <div class="btn-wrapper btn-{{ module.load_more.cta_style }}-wrapper btn-wrapper-{{module.load_more.cta_size}}">
                    <a class="cta-button"
                        {% if blog_listing.specified_posts_number && !blog_listing.specified_tag %}
                        href="{{ group.absolute_url }}/all"
                        {% elif blog_listing.specified_posts_number && blog_listing.specified_tag %}
                        href="{{group.absolute_url}}/tag/{{module.tag_filter}}"
                        {% endif %}
                        >
                        {{ module.load_more.text }}
                    </a>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}