{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}
	{% import "../../templates/ac-macros.html" as ac %}

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}
	</style>
	{% end_require_css %}

	{% set is_lottie = module.media_type == 'lottie' %}
	{% set has_media = is_lottie ? module.lottie_file : module.image.src %}

	{# Default geometry matches SR Two Col 04: text and media split the row 6/6,
	   media on the right at desktop width. The custom size fields override both,
	   through SR's own col_size() macro. Stacked Order decides which column
	   comes first once they stack; a breakpoint order from col_size() takes
	   over above that. #}
	{% set text_col  = module.custom_column_size ? macros.col_size([module.text_column_size]) : 'col-lg-6' %}
	{% set media_col = module.custom_column_size ? macros.col_size([module.media_column_size]) :
		(module.media_side == 'right' ? 'col-lg-6 order-lg-last' : 'col-lg-6') %}

	<div class="ac-two-col-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} {{ ac.text_color_class(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ ac.width_class(module.design_settings) }}">
			{% endif %}

					<div class="row row-gap ac-tc sr-valign-{{ module.column_vertical_align }}">

						{# ---------- Text ---------- #}
						<div class="{{ text_col }} sr-col ac-tc__text">
							<div class="content-wrapper">

							{{ ac.eyebrow(module, 'sr-spacer-bottom-25' if module.heading.heading_text || module.description else '') }}

							{{ ac.heading(module, 'ac-tc__heading' ~ (' sr-spacer-bottom-25' if module.description else '')) }}

							{% if module.description %}
							<div class="description ac-tc__description{% if module.lead_text %} lead{% endif %}">{{ module.description }}</div>
							{% endif %}

							{{ macros.cta(module.ctas, 'sr-spacer-top-25') }}

							</div>
						</div>

						{# ---------- Media ---------- #}
						{% if has_media %}
						<div class="{{ media_col }}{% if module.stack_order == 'media' %} order-first{% endif %} sr-col ac-tc__media">
							<div class="content-wrapper">
							{% if is_lottie %}
							{# The same player SR Two Col 04 loads for its Lottie option. #}
							{{ require_js("https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js", { defer: true, position: "head", type: "module" }) }}
							<div class="lottie media-item ac-tc__lottie">
								<dotlottie-wc src="{{ module.lottie_file }}" aria-hidden="true" autoplay{% if module.lottie_loop %} loop{% endif %}></dotlottie-wc>
							</div>
							{% else %}
							<div class="responsive-image media-item">
								{{ macros.image(module.image, 'style="--img-corner: ' ~ module.image_corner_radius|int ~ 'px"' if module.image_corner_radius else '') }}
							</div>
							{% endif %}
							</div>
						</div>
						{% endif %}

					</div>

			{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}

		</div>
	</div>

	{{ ac.heading_scripts(module) }}

{% endif %}
