.showcase-col {
    margin-bottom: 2rem;
}

.sr-showcase .flex-wrapper {
    display: flex;
    justify-content: center;
}

.sr-showcase .flex-wrapper .btn-wrapper {
    margin: 0 0.5rem;
}

.sr-showcase .showcase-card a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sr-showcase button.close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: #333;
    border-radius: 50%;
    color: #fff;
    opacity: 1;
    right: -1rem;
    top: -1rem;
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
}

.sr-showcase span.industry {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #4f545d;
    background: #F6F6FE;
    border: 1px solid #E6E9FC;
    box-sizing: border-box;
    padding: 6px 9px;
    margin: 8px 0 0 8px;
}

body.modal-open {
    padding: 0 !important;
}

.sr-showcase .modal-body {
    padding: 0;
    overflow: hidden;
}

.sr-showcase .showcase-modal-content p:last-child {
    margin-bottom: 0;
}

.showcase-card {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    transition: all .6s ease;
    border: 2px solid rgb(229 231 234 / 0.5);
    background-color: #fff;
}

.showcase-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 587 / 450;
    overflow: hidden;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
}

.showcase-image img {
    position: absolute;
    top: 0;
    transition: transform 4s ease, top 4s ease;
    width: 100%
}

.showcase-card.scroll:has(a:is(:hover, :focus)) .showcase-image img {
    transform: translateY(-100%);
    top: 100%;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.sr-showcase .button-text {
    position: absolute;
    z-index: 11;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    font-weight: bold;
    text-decoration: underline
}

.showcase-image:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .2s ease;
    background: rgba(0, 0, 0, 0.0);
}

.showcase-card:has(a:is(:hover, :focus)) {
    transform: scale(1.05);
}

.showcase-card:has(a:is(:hover, :focus)) .button-text {
    opacity: 1;
}

.showcase-card:has(a:is(:hover, :focus)) .showcase-image:before {
    background: rgba(0, 0, 0, 0.5);
}

.showcase-content h5, .showcase-content h6 {
    line-height: 1.2;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.sr-showcase .hs-form select {
    background-image: url(https://www.sprocketrocket.co/hubfs/sprocket-rocket/images/icon-select.png);
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    min-width: 200px;
}

.showcase-content h6 {
    font-weight: 600;
}

.bg-primary.showcasebar {
    padding: 1rem 2rem;
}

.showcase-content img {
    margin-right: 1rem;
}

.showcase-content {
    padding: 1rem;
}

.showcasecontent {
    padding: 3rem 2rem;
}

.showcase-slider .blaze-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 100%;
    color: var(--primary);
    z-index: 1;
    box-shadow: 15px 10px 20px 0 rgba(0, 0, 0, .40);
    transition: all .6s ease;
    border: 1px solid rgb(229 231 234 / .5);
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
}

.sr-showcase .blaze-pagination button {
    padding: 0!important;
}

.sr-showcase button.close {
    top: 0;
    right: 1rem;
    border: 0;
    background: 0;
    font-size: 4rem;
    color: #000;
    font-weight: 100;
    z-index: 1;
}

.showcase-slider {
    min-height: 500px;
    background-color: #d8d8d8;
    background-image: url(https://www.lean-labs.com/hubfs/Showcase/load.gif);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-slider .blaze-arrow.blaze-next {
    right: 50px;
}

.showcase-slider .blaze-arrow.blaze-prev {
    left: 50px;
}

.showcase-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.showcase-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media (max-width: 767px) {
    .showcase-slider {
        min-height: 0;
    }
}