{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}

	<div class="sr-tabs-accordion-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
				<div class="row">
					<div class="{{ width_class }}">
			{% endif %}
						<div class="row">

							<div class="{{ macros.col_size(module.columns.left_column) }}">
								<div class="{% if module.columns.sticky %}sticky{% endif %} {% if module.one_column %}sr-spacer-bottom-50{% else %}mb-4 mb-lg-0{% endif %}">
									<div class="text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }}">
										{{ macros.heading(module.heading) }}
										{% if module.description %}
											<div class="description{% if module.lead_text %} lead{% endif %}">
												{{ module.description }}
											</div>
										{% endif %}
									</div>
								</div>
							</div>

							<div class="{{ macros.col_size(module.columns.right_column) }}">
								<section class="details-group" data-one="{{ module.show_one_at_a_time }}">
									{% for item in module.tab_item %}
									<details class="details sr-card sr-border text-{{ module.design_settings.card_styles.text_color }}" {% if item.expanded %} open{% endif %} {% if loop.index > module.items_to_show %}hidden{% endif %}>
										<summary class="details__summary sr-border-color" tabindex="0">
											<h3 class="mb-0 h5">{{ item.tab_label }}</h3>
											<span class="details-icon" role="presentation"></span>
										</summary>
										<div class="details__content description">
											{{ item.tab_content }}
										</div>
									</details>
									{% endfor %}
								</section>
								{% if module.tab_item|length > module.items_to_show %}
								<div class="btn-wrapper btn-{{ module.cta_style }}-wrapper ">
									<button type="button" class="cta_button load-more-button mt-4">{{module.load_more_button_text}}</button>
								</div>
								{% endif %}
							</div>
						</div>
			{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% require_css %}
		<style>
			{{ macros.design_settings(name, module.design_settings) }}
			.{{ name }} .sr-card {
				{%- if module.design_settings.card_styles.background_color == "gradient" -%}
				background: {{ module.design_settings.card_styles.background_gradient.css }};
				{%- elif module.design_settings.card_styles.background_color == "custom" -%}
				background-color: {{ module.design_settings.card_styles.background_custom.css }};
				{%- elif module.design_settings.card_styles.background_color != "auto" -%}
				background-color: var(--{{ module.design_settings.card_styles.background_color }});
				{%- endif -%}
				{%- if module.design_settings.card_styles.text_color == "custom" %}
				color: {{ module.design_settings.card_styles.text_color_custom.css }};
				{%- endif -%}
				{% if module.design_settings.card_styles.border.css %}
				{{ module.design_settings.card_styles.border.css }}
				{% endif %}
				{% if module.design_settings.card_styles.border_radius >= 0 %}
				border-radius: {{ module.design_settings.card_styles.border_radius }}px;
				{% endif %}
				{% if module.design_settings.card_styles.shadow %}
				box-shadow: {{ "inset" if module.design_settings.card_styles.inset }} {{ module.design_settings.card_styles.horizontal ~ "px" }} {{ module.design_settings.card_styles.vertical ~ "px" }} {{ module.design_settings.card_styles.blur ~ "px" }} {{ module.design_settings.card_styles.spread ~ "px" }} {{ module.design_settings.card_styles.color.css }};
				{% endif %}
			}
			{% if module.design_settings.card_styles.border.css %}
			.{{ name }} .details__summary {
				border-bottom-color: {{ macros.color(module.design_settings.card_styles.border.top) }};
			}
			{% endif %}
			.{{ name }} .details-icon {
				background-color: {{ module.design_settings.card_styles.icon_background.css }};
			}
			.{{ name }} .details-icon::before,
			.{{ name }} .details-icon::after {
				background-color: {{ module.design_settings.card_styles.icon_color.css }}
			}
		</style>

	{% end_require_css %}


{% endif %}