.sr-two-col-gallery-02 .row.image-row a {
  border-radius: 4px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.sr-two-col-gallery-02 .image-col a {
  display: inline-block;
  width: 100%;
  height: 300px;
  max-width: 100%
}

.sr-two-col-gallery-02 .row.image-row a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sr-two-col-gallery-02 .plus {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sr-two-col-gallery-02 .plus svg {
  color: #fff;
}

.sr-two-col-gallery-02 .row.image-row a .icon-wrapper {
  opacity: 0;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sr-two-col-gallery-02 .row.image-row a:hover .icon-wrapper,
.sr-two-col-gallery-02 .row.image-row a:active .icon-wrapper,
.sr-two-col-gallery-02 .row.image-row a:focus .icon-wrapper {
  opacity: 1;
}

.sr-two-col-gallery-02 .row.image-row {
  padding: 7px 0;
}

.sr-two-col-gallery-02 .col1 {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.sr-two-col-gallery-02 .col1 a {
  height: 164px;
  width: 197px;
}

.sr-two-col-gallery-02 .col2 a {
  height: 209px;
  width: 323px;
}

.sr-two-col-gallery-02 .col3 a {
  height: 161px;
  width: 194px;
}

.sr-two-col-gallery-02 .col4 a {
  height: 120px;
  width: 120px;
}

.sr-two-col-gallery-02 .col3 {
  padding-right: 0 !important;
}

.sr-two-col-gallery-02 .col4 {
  padding-left: 30px !important;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.sr-two-col-gallery-02 .col-5,
.sr-two-col-gallery-02 .col-7,
.sr-two-col-gallery-02 .col-4,
.sr-two-col-gallery-02 .col-6 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.sr-two-col-gallery-02 .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .sr-two-col-gallery-02 .container {
      max-width: 100%;
  }
}

@media (max-width: 768px) {
  .sr-two-col-gallery-02 .image-col {
      padding-left: 6px !important;
      padding-right: 6px !important;
  }

  .sr-two-col-gallery-02 .num-1-images .image-col {
      padding-right: 15px !important;
      padding-left: 15px !important;
  }

  .sr-two-col-gallery-02 .row.image-row {
      padding: 4px;
  }

  .sr-two-col-gallery-02 .num-1-images .row.image-row {
      padding: 0 !important;
  }
}

@media (max-width: 567px) {
  .sr-two-col-gallery-02 .col1 a {
      width: 125px;
      height: 102px;
  }

  .sr-two-col-gallery-02 .col2 a {
      width: 206px;
      height: 133px;
  }

  .sr-two-col-gallery-02 .col3 a {
      width: 123px;
      height: 103px;
  }

  .sr-two-col-gallery-02 .col4 a {
      width: 76px;
      height: 76px;
  }
}

.sr-two-col-gallery-02 .num-1-images .col1 a {
	height: 100%;
	min-height: 400px;
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}