{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}
	
	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}
	</style>
	{% end_require_css %}
	
	{% set width_class =
	module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
	module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
	module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
	'col-lg-12'
	%}
	
	{{macros.label("SR Two Col Gallery 01")}}
	
	<div class="sr-two-col-gallery-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>
	
		{{ macros.module_bg_video(module) }}
	
		<div class="{{ module.design_settings.layout }}">
	
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }}">
					{% endif %}
	
					<div class="row sr-row align-items-center">
	
						<div class="text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} {{ macros.col_size(module.columns.left_column) }}">
							{{ macros.heading(module.heading) }}
							{% if module.description %}
							<div class="description{% if module.lead_text %} lead{% endif %}">
								{{ module.description}}
							</div>
							{% endif %}
							{{ macros.cta(module.ctas, 'sr-spacer-top-25') }}
						</div>
	
						<div class="{{ macros.col_size(module.columns.right_column) }}">
							<div class="columns" style="--image_count:{{module.image_count}};--column_gap:{{module.column_gap}}px;">
								{% for item in module.images %}
								<div class="image-col {{item.image_position}}">
									{% if module.lightbox %}<a href="{{ item.image.src }}" data-fslightbox="gallery">{% endif %}
										<div class="image-inner" style="--overlay-color:{{item.overlay.css}}">
											{{macros.image(item.image)}}
											{% if module.lightbox %}
											<div class="plus">
												<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M6.16 16.52V10.08H0V6.44H6.16V0H9.94V6.44H16.1V10.08H9.94V16.52H6.16Z" fill="white"/>
												</svg>
											</div>
											{% endif %}
										</div>
									{% if module.lightbox %}</a>{% endif %}
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
	
					{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	
	{% if module.lightbox %}
	{{ require_js(get_asset_url('../../js/fslightbox.js'), { defer: true }) }}
	{% endif %}
	{% endif %}