{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}

	{% if module.design_settings.container_width == 'min' %}
		{% set width_class = 'col-md-6 offset-md-3' %}
	{% elif module.design_settings.container_width == 'narrow' %}
		{% set width_class = 'col-md-8 offset-md-2' %}
	{% elif module.design_settings.container_width == 'wide' %}
		{% set width_class = 'col-md-10 offset-md-1' %}
	{% else %}
		{% set width_class = 'col-md-12' %}
	{% endif %}

	{% require_css %}
		<style>
			{{ macros.design_settings(name, module.design_settings) }}
		</style>
	{% end_require_css %}

	{{ macros.label("SR Gallery 02") }}

	<div class="sr-gallery-02 {{ name }} {% if module.design_settings.background_option == 'color' %} bg-{{ module.design_settings.background_color }}{% endif %} {{ macros.padding(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{% if module.design_settings.background_option == 'video' %}
		{{macros.bg_video(module.background_video, module.design_settings.background_image.src)}}
		{% endif %}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }}">
			{% endif %}
					{% if module.heading || module.description %}
					<div class="sr-spacer-bottom-50 text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }}">
						{{ macros.heading(module.heading) }}

						{% if module.description %}
						<div class="description{% if module.lead_text %} lead{% endif %}">{{ module.description}}</div>
						{% endif %}
					</div>
					{% endif %}
					<div class="gallery-container">
						<div class="sr-gallery">
							<div class="row no-gutters">
								{% for item in module.gallery_images %}
								{% if item.gallery_image.src %}
								<div class="{{ macros.col_size(module.columns) }}">
									<a class="lightbox" data-fslightbox="gallery" href="{{ item.gallery_image.src }}" style="--overlay: {{ item.overlay.css }}">
										{{ macros.image(item.gallery_image) }}
										<div class="overlay">
											<i class="bg-primary" aria-hidden="true">
												{% icon name="Search" style="SOLID" unicode="f002" icon_set="fontawesome-5.14.0" height="22" no_wrapper=true %}
											</i>
										</div>
									</a>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
			{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{{ require_js(get_asset_url('../../js/fslightbox.js'), { defer: true }) }}
{% endif %}