{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}

	{% require_css %}
		<style>
		{{ macros.design_settings(name, module.design_settings) }}
		.sr-footer-04 .footer-logo {
			{% if !module.show_menu %}
			padding-bottom: 3rem;
			{% endif %}
		}
		.sr-footer-04 .button__container {
			{% if module.btt_button.button_color == 'custom' %}
			background-color: {{ macros.color(module.btt_button.button_custom) }};
			{% endif %}
			{% if module.btt_button.icon_color == 'custom' %}
			background-color: {{ macros.color(module.btt_button.icon_custom) }}
			{% endif %}
		}
		{% if module.heading %}
		.sr-footer-04 .footer-slogan {
			padding-top: 1rem;
		}
		{% endif %}


		{% if module.design_settings.text_color == 'custom' %}
		.{{ name }} .sr-footer-nav li a,
		.{{ name }} .footer-copyright p a {
			color: {{ macros.color(module.design_settings.text_color_custom) }};
		}

		.{{ name }} .sr-footer-nav .hs-menu-depth-1 > a:not(:hover) {
			color: {{ macros.color(module.design_settings.top_link_color) }};
		}
		.{{ name }} .sr-footer-nav li a:hover,
		.{{ name }} .footer-copyright p a:hover {
			color: {{ macros.color(module.design_settings.link_hover_color) }};
		}
		{% endif %}

		{% for item2 in module.social_icons %}
		.sr-footer-04 .social .icon-{{loop.index}},
		.sr-footer-04 .social .icon-{{loop.index}} :is(svg, g, path) {
			background-color: {{ item2.background_color.css }};
			color: {{ item2.icon_color.css }};
			fill: {{item2.icon_color.css}};
			transition: all .25s ease;
		}
		.sr-footer-04 .social .icon-{{loop.index}}:hover,
		.sr-footer-04 .social .icon-{{loop.index}}:hover :is(svg, g, path) {
			background-color: {{ item2.background_color_hover.css }};
			color: {{ item2.icon_color_hover.css }};
			fill: {{item2.icon_color_hover.css}};
		}
		{% endfor %}
    </style>
    {% end_require_css %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}



	<footer class="sr-footer sr-footer-04 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="sr-footer-nav">
			<div class="{{ module.design_settings.layout }}">

				{% if module.design_settings.container_width != 'max' %}
				<div class="row">
					<div class="{{ width_class }}">
						{% endif %}

						<div class="footer-logo text-{{ module.logo_align }}">

							{% if  module.logo_link.url.href %}
							<a {{ macros.link(module.logo_link) }} role="link" aria-label="{{module.logo.alt}}'s link {{ ' (Opens in new tab)' if module.logo_link.open_in_new_tab }}">
							{% endif %}
								{{ macros.image(module.logo) }}
							{% if  module.logo_link.url.href %}
							</a>
							{% endif %}

							{% if module.heading %}
							<div class="footer-slogan pt-3">
								{{ macros.heading(module.heading, 'mb-0') }}
							</div>
							{% endif %}
						</div>
						{% if module.show_menu %}
						<div class="menu-wrapper text-{{ module.menu_align }}">
							{% if hub_id == 123 || !module.menu %}
							<nav id="hs_cos_wrapper_module_1494607248582_footer" class="hs_cos_wrapper hs_cos_wrapper_module hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="module" data-hs-cos-type="menu" aria-label="Footer Navigation">
								<div id="hs_menu_wrapper_module_1494607248582_footer" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="sprocket-rocket footer">
									<ul role="menu">
										<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">First nav item</a></li>
										<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Second nav item</a></li>
										<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Third nav item</a></li>
										<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Fourth nav item</a></li>
										<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Fifth nav item</a></li>
									</ul>
								</div>
							</nav>
							{% else %}
							{% menu id="{{ module.menu }}" max_levels='{{ module.menu_depth }}' %}
							{% endif %}
						</div>
						{% endif %}
						{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="footer-logo-social">
			<div class="{{ module.design_settings.layout }}">
				{% if module.design_settings.container_width != 'max' %}
				<div class="row">
					<div class="{{ width_class }}">
						{% endif %}
						<div class="row footer-row">
							<div class="col-md-8 text-md-left footer-copyright {% if module.text_color != 'auto' %}text-{{ module.text_color }} {% endif %}">
								<small>{{module.copyright}}</small>
							</div>
							<div class="col-md-4">
								{% if module.social_icons|length %}
								<ul class="social text-md-right">
									{% for item2 in module.social_icons %}
									<li>
										<a class="no-decoration" {{ macros.link(item2.link) }} role="link" aria-label="{{item2.aria_label}} {{ ' (Opens in new tab)' if item2.link.open_in_new_tab }}">
											{% if item2.type == "icon" %}
											<span class="icon-{{loop.index}} icon-wrapper" aria-hidden="true">
												{% icon
														name="{{ item2.icon.name }}"
														style="{{ item2.icon.type }}"
														unicode="{{ item2.icon.unicode }}"
														icon_set="{{ item2.icon.icon_set }}"
														height="16"
														no_wrapper=true
												%}
											</span>
											{% elif item2.type == "image" %}
											{{ macros.image(item2.custom_icon) }}
											{% endif %}
										</a>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
						{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% if module.back_to_top %}
		<a href="{{module.btt_button.page_target}}" class="button__container bg-{{module.btt_button.button_color}} text-{{module.btt_button.icon_color}}" aria-label="Back to top button">
			{% icon name="{{ module.btt_button.icon.name }}" style="{{ module.btt_button.icon.type }}" unicode="{{ module.btt_button.icon.unicode }}" icon_set="{{ module.btt_button.icon.icon_set }}" width="15" no_wrapper=true %}
		</a>
		{% endif %}
	</footer>
{% endif %}
