<!--
templateType: page
isAvailableForNewContent: true
label: Homepage 03
screenshotPath: ../../images/homepage-03.jpg
-->

	{% include '../header.html' %}

		<body class="pre-built {{ widget_data.body_class.value }} {{ builtin_body_classes }} {% set theme_name = content.template_path|split('/')|first %}{{ theme_name }} {% set template_name = content.template_path|split('/')|last %}{{ template_name[:-5] if template_name }}">

		{% block header %}
			{% boolean "enabled_site_header" label='Enable Global Site Header', value=true, export_to_template_context=True %}
			{% if widget_data.enabled_site_header.value %}
				{% global_partial path="../partials/site_header.html" %}
			{% endif %}
		{% endblock header %}

		{% block body %}

			{% dnd_area "body_dnd_area", class='body_dnd_area' label="Main Content" %}

				{% dnd_section %}
					{% dnd_module content='<p><span>Responsive pages, optimized for conversions. </span></p>', cta='{"button_text":"Get Sprocket Rocket","link":"https://www.sprocketrocket.co/"}', heading='[{"heading":"Put Your Best Page Forward","heading_align":"auto","heading_color":"auto","heading_color_custom":{"color":"#30343b","opacity":100},"heading_display_size":"display-4","heading_size":"h1"}]', overrideable=True, path='../../custom-modules/SR Hero 02', widget_name='SR Hero 02', label='SR Hero 02' %}{% end_dnd_module %}
				{% end_dnd_section %}

				{% dnd_section %}
					{% dnd_module custom_padding='6.125rem 0rem 0rem 0rem', overrideable=True, path='../../custom-modules/SR Clients Carousel 01', top_bottom_padding='custom', widget_name='SR Clients Carousel 01', label='SR Clients Carousel 01' %}{% end_dnd_module %}
				{% end_dnd_section %}

				{% dnd_section %}
					{% dnd_module overrideable=True, path='../../custom-modules/SR Two Col 07', widget_name='SR Two Col 07', design_settings='{"border_top":true}', label='SR Two Col 07' %}{% end_dnd_module %}
				{% end_dnd_section %}

				{% dnd_section %}
					{% dnd_module overrideable=True, path='../../custom-modules/SR One Col Media 01', widget_name='SR One Col Media 01', label='SR One Col Media 01' %}{% end_dnd_module %}
				{% end_dnd_section %}


				{% dnd_section %}
					{% dnd_module overrideable=True, path='../../custom-modules/SR FAQ 01', widget_name='SR FAQ 01', label='SR FAQ 01' %}{% end_dnd_module %}
				{% end_dnd_section %}

				{% dnd_section %}
					{% dnd_module overrideable=True, path='../../custom-modules/SR Cards Categories 01', widget_name='SR Cards Categories 01', label='SR Cards Categories 01' %}{% end_dnd_module %}
				{% end_dnd_section %}

				{% dnd_section %}
					{% dnd_module overrideable=True, path='../../custom-modules/SR Offer Bar 05', widget_name='SR Offer Bar 05', design_settings='{"border_top":true}', label='SR Offer Bar 05' %}{% end_dnd_module %}
				{% end_dnd_section %}


			{% end_dnd_area %}

		{% endblock body %}

		{% block footer %}
			{% boolean "enabled_site_footer" label='Enable Global Site Footer', value=true, export_to_template_context=True %}
			{% if widget_data.enabled_site_footer.value %}
				{% global_partial path="../partials/site_footer.html" %}
			{% endif %}
		{% endblock footer %}

		{% include '../footer-includes.html' %}
	</body>
</html>
