<!--
templateType: page
isAvailableForNewContent: true
label: Team Member 01
screenshotPath: ../../images/team-member-01.jpg
-->

	{% include '../header.html' %}

		<body class="pre-built {{ widget_data.body_class.value }} {{ builtin_body_classes }} {% set theme_name = content.template_path|split('/')|first %}{{ theme_name }} {% set template_name = content.template_path|split('/')|last %}{{ template_name[:-5] if template_name }}">

		{% block header %}
			{% boolean "enabled_site_header" label='Enable Global Site Header', value=true, export_to_template_context=True %}
			{% if widget_data.enabled_site_header.value %}
				{% global_partial path="../partials/site_header.html" %}
			{% endif %}
		{% endblock header %}

		{% block body %}

			{% dnd_area "body_dnd_area", class='body_dnd_area' label="Main Content" %}

				{% dnd_section %}
				{% dnd_column
					offset=0,
					width=12
				%}
				{% dnd_row %}

					{% end_dnd_row %}
					{% dnd_row %}
						{% dnd_module
							path="../../custom-modules/SR Two Col 03",
							offset=0,
							width=12,
							column=[ {
							"add_to_lightbox" : false,
							"col_content" : "",
							"col_image" : {
								"alt" : "left (1)",
								"height" : 490,
								"loading" : "lazy",
								"max_height" : 980,
								"max_width" : 1204,
								"src" : "https://www.lean-labs.com/hubfs/left%20(1).png",
								"width" : 602
							},
							"col_media_type" : "image",
							"col_overlay_color" : {
								"color" : "#000000",
								"opacity" : 50
							},
							"col_text_align" : "auto",
							"column_size" : [ {
								"column_breakpoint" : "md",
								"column_offset" : "0",
								"column_width" : "5"
							} ],
							"custom_column_size" : true,
							"image_link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
								"type" : "EXTERNAL"
								}
							},
							"lead_text" : false,
							"text_color" : "auto",
							"video" : {
								"autoplay" : true,
								"background_video_design" : "none",
								"custom_accent_color" : {
								"color" : "#000000",
								"opacity" : 20
								},
								"embed_field" : {
								"source_type" : "oembed"
								},
								"html_video" : [ "https://www.lean-labs.com/hubfs/sr-assets/videos/sr-demo.mp4" ],
								"loop" : true,
								"muted" : true,
								"oembed_thumbnail" : {
								"loading" : "disabled",
								"src" : ""
								},
								"placeholder_fields" : {
								"placeholder_description" : "Select a video type in the sidebar.",
								"placeholder_title" : "No video selected"
								},
								"show_controls" : true,
								"style_options" : {
								"oembed_thumbnail_play_button_color" : {
									"color" : "#ffffff"
								}
								},
								"video_accent_color" : "primary",
								"video_poster" : {
								"alt" : "Sprocket Rocket Demo",
								"size_type" : "exact",
								"src" : "https://f.hubspotusercontent20.net/hubfs/275827/sr-assets/videos/sr-demo-poster.jpg"
								},
								"video_type" : "html_video"
							}
							}, {
							"add_to_lightbox" : false,
							"class" : "p-4 p-md-0",
							"col_content" : "<p>I'm a London based UI / UX Designer with a passion for building engaging and enjoyable experiences across web &amp; mobile.</p>",
							"col_media_type" : "none",
							"col_overlay_color" : {
								"color" : "#000000",
								"opacity" : 50
							},
							"col_text_align" : "auto",
							"column_size" : [ {
								"column_breakpoint" : "md",
								"column_offset" : "1",
								"column_width" : "6"
							} ],
							"ctas" : [ ],
							"custom_column_size" : true,
							"heading" : [ {
								"heading" : "Designer",
								"heading_align" : "auto",
								"heading_color" : "auto",
								"heading_color_custom" : {
								"color" : "#30343b",
								"opacity" : 100
								},
								"heading_display_size" : "auto",
								"heading_size" : "h6"
							}, {
								"heading" : "Cristian Teichner",
								"heading_align" : "auto",
								"heading_color" : "auto",
								"heading_color_custom" : {
								"color" : "#30343b",
								"opacity" : 100
								},
								"heading_display_size" : "display-4",
								"heading_size" : "h1"
							} ],
							"image_link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
								"type" : "EXTERNAL"
								}
							},
							"lead_text" : false,
							"text_color" : "auto",
							"video" : {
								"autoplay" : true,
								"background_video_design" : "none",
								"custom_accent_color" : {
								"color" : "#000000",
								"opacity" : 20
								},
								"embed_field" : {
								"source_type" : "oembed"
								},
								"html_video" : [ "https://www.lean-labs.com/hubfs/sr-assets/videos/sr-demo.mp4" ],
								"loop" : true,
								"muted" : true,
								"oembed_thumbnail" : {
								"loading" : "disabled",
								"src" : ""
								},
								"placeholder_fields" : {
								"placeholder_description" : "Select a video type in the sidebar.",
								"placeholder_title" : "No video selected"
								},
								"show_controls" : true,
								"style_options" : {
								"oembed_thumbnail_play_button_color" : {
									"color" : "#ffffff"
								}
								},
								"video_accent_color" : "primary",
								"video_poster" : {
								"alt" : "Sprocket Rocket Demo",
								"size_type" : "exact",
								"src" : "https://f.hubspotusercontent20.net/hubfs/275827/sr-assets/videos/sr-demo-poster.jpg"
								},
								"video_type" : "html_video"
							}
							} ],
							design_settings={
							"background_color" : "light",
							"background_custom" : {
								"color" : "#f5f7f9",
								"opacity" : 100
							},
							"background_option" : "custom",
							"container_width" : "wide",
							"layout" : "container-fluid",
							"spacing" : {
								"margin" : {
								"bottom" : {
									"units" : "rem",
									"value" : 0
								},
								"top" : {
									"units" : "rem",
									"value" : 0
								}
								},
								"padding" : {
								"bottom" : {
									"units" : "rem",
									"value" : 6.25
								},
								"left" : {
									"units" : "rem",
									"value" : 0
								},
								"right" : {
									"units" : "rem",
									"value" : 0
								},
								"top" : {
									"units" : "rem",
									"value" : 11.4375
								}
								}
							},
							"top_bottom_padding" : "custom"
							}
						%}
						{% end_dnd_module %}
					{% end_dnd_row %}


					{% dnd_row %}
						{% dnd_module
						path="../../custom-modules/SR Stats 06",
						offset=0,
						width=12,
						design_settings={
							"background_custom" : {
							"color" : "#f5f7f9",
							"opacity" : 100
							},
							"container_width" : "wide",
							"spacing" : {
							"margin" : {
								"bottom" : {
								"units" : "rem",
								"value" : 0
								},
								"top" : {
								"units" : "rem",
								"value" : 0
								}
							},
							"padding" : {
								"bottom" : {
								"units" : "rem",
								"value" : 6.25
								},
								"left" : {
								"units" : "rem",
								"value" : 0
								},
								"right" : {
								"units" : "rem",
								"value" : 0
								},
								"top" : {
								"units" : "px",
								"value" : 0
								}
							}
							},
							"text_align" : {
							"text_align" : "LEFT"
							},
							"text_color" : "auto",
							"top_bottom_padding" : "custom"
						},
						stats=[ {
							"description" : "Years of design experience",
							"format" : true,
							"image" : {
							"alt" : "Describe Your Image",
							"height" : 36,
							"loading" : "lazy",
							"size_type" : "exact",
							"src" : "https://275827.fs1.hubspotusercontent-na1.net/hub/275827/hubfs/Vector-Aug-15-2022-04-01-24-99-PM.png",
							"width" : 43
							},
							"image_type" : "none",
							"lead_text" : true,
							"stat" : [ {
							"heading" : 20,
							"heading_align" : "auto",
							"heading_color" : "auto",
							"heading_color_custom" : {
								"color" : "#30343b",
								"opacity" : 100
							},
							"heading_display_size" : "display-1",
							"heading_size" : "h3"
							} ],
							"suffix" : ""
						}, {
							"description" : "Worked on over 100 web projects",
							"format" : true,
							"image" : {
							"alt" : "Describe Your Image",
							"height" : 34,
							"loading" : "lazy",
							"size_type" : "exact",
							"src" : "https://275827.fs1.hubspotusercontent-na1.net/hub/275827/hubfs/Vector%20(1)-2.png",
							"width" : 43
							},
							"image_type" : "none",
							"lead_text" : true,
							"stat" : [ {
							"heading" : 100,
							"heading_align" : "auto",
							"heading_color" : "auto",
							"heading_color_custom" : {
								"color" : "#30343b",
								"opacity" : 100
							},
							"heading_display_size" : "display-1",
							"heading_size" : "h3"
							} ],
							"suffix" : ""
						}, {
							"description" : "Years working with Sprocket Rocket",
							"format" : true,
							"image" : {
							"alt" : "Describe Your Image",
							"height" : 34,
							"loading" : "lazy",
							"size_type" : "exact",
							"src" : "https://275827.fs1.hubspotusercontent-na1.net/hub/275827/hubfs/Vector%20(2)-2.png",
							"width" : 43
							},
							"image_type" : "none",
							"lead_text" : true,
							"stat" : [ {
							"heading" : 6,
							"heading_align" : "auto",
							"heading_color" : "auto",
							"heading_color_custom" : {
								"color" : "#30343b",
								"opacity" : 100
							},
							"heading_display_size" : "display-1",
							"heading_size" : "h3"
							} ],
							"suffix" : ""
						} ]
						%}
					{% end_dnd_module %}
					{% end_dnd_row %}
					{% dnd_row %}
						{% dnd_module
							path="../../custom-modules/SR Two Col 04",
							offset=0,
							width=12,
							column=[ {
							"add_to_lightbox" : false,
							"col_content" : "<p><span>Cris started his career as a lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.<br><br>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi</span></p>",
							"col_media_type" : "none",
							"col_overlay_color" : {
								"color" : "#000000",
								"opacity" : 50
							},
							"col_text_align" : "auto",
							"column_size" : [ {
								"column_breakpoint" : "lg",
								"column_offset" : "0",
								"column_order" : 1,
								"column_width" : "5"
							} ],
							"ctas" : [ ],
							"custom_column_size" : true,
							"heading" : [ {
								"heading" : "Biography",
								"heading_align" : "auto",
								"heading_color" : "auto",
								"heading_color_custom" : {
								"color" : "#30343b",
								"opacity" : 100
								},
								"heading_display_size" : "auto",
								"heading_size" : "h2"
							} ],
							"image_link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
								"type" : "EXTERNAL"
								}
							},
							"lead_text" : false,
							"text_color" : "auto",
							"video" : {
								"autoplay" : true,
								"background_video_design" : "none",
								"custom_accent_color" : {
								"color" : "#000000",
								"opacity" : 20
								},
								"embed_field" : {
								"source_type" : "oembed"
								},
								"html_video" : [ "https://www.lean-labs.com/hubfs/sr-assets/videos/sr-demo.mp4" ],
								"loop" : true,
								"muted" : true,
								"oembed_thumbnail" : {
								"loading" : "disabled",
								"src" : ""
								},
								"placeholder_fields" : {
								"placeholder_description" : "Select a video type in the sidebar.",
								"placeholder_title" : "No video selected"
								},
								"show_controls" : true,
								"style_options" : {
								"oembed_thumbnail_play_button_color" : {
									"color" : "#ffffff"
								}
								},
								"video_accent_color" : "primary",
								"video_poster" : {
								"alt" : "Sprocket Rocket Demo",
								"size_type" : "exact",
								"src" : "https://f.hubspotusercontent20.net/hubfs/275827/sr-assets/videos/sr-demo-poster.jpg"
								},
								"video_type" : "html_video"
							}
							}, {
							"add_to_lightbox" : false,
							"col_image" : {
								"alt" : "Right (1)",
								"height" : 490,
								"loading" : "lazy",
								"max_height" : 980,
								"max_width" : 1204,
								"src" : "https://www.lean-labs.com/hubfs/Right%20(1).png",
								"width" : 602
							},
							"col_media_type" : "image",
							"col_overlay_color" : {
								"color" : "#000000",
								"opacity" : 50
							},
							"col_text_align" : "auto",
							"column_size" : [ {
								"column_breakpoint" : "lg",
								"column_offset" : "1",
								"column_order" : 2,
								"column_width" : "6"
							}, {
								"column_breakpoint" : "sm",
								"column_offset" : "0",
								"column_order" : 1,
								"column_width" : "12"
							} ],
							"custom_column_size" : true,
							"image_link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
								"type" : "EXTERNAL"
								}
							},
							"lead_text" : false,
							"text_color" : "auto",
							"video" : {
								"autoplay" : true,
								"background_video_design" : "none",
								"custom_accent_color" : {
								"color" : "#000000",
								"opacity" : 20
								},
								"embed_field" : {
								"source_type" : "oembed"
								},
								"html_video" : [ "https://www.lean-labs.com/hubfs/sr-assets/videos/sr-demo.mp4" ],
								"loop" : true,
								"muted" : true,
								"oembed_thumbnail" : {
								"loading" : "disabled",
								"src" : ""
								},
								"placeholder_fields" : {
								"placeholder_description" : "Select a video type in the sidebar.",
								"placeholder_title" : "No video selected"
								},
								"show_controls" : true,
								"style_options" : {
								"oembed_thumbnail_play_button_color" : {
									"color" : "#ffffff"
								}
								},
								"video_accent_color" : "primary",
								"video_poster" : {
								"alt" : "Sprocket Rocket Demo",
								"size_type" : "exact",
								"src" : "https://f.hubspotusercontent20.net/hubfs/275827/sr-assets/videos/sr-demo-poster.jpg"
								},
								"video_type" : "html_video"
							}
							} ],
							design_settings={
							"container_width" : "wide",
							"layout" : "container-fluid"
							}
						%}
						{% end_dnd_module %}
					{% end_dnd_row %}

					{% dnd_row %}
						{% dnd_module
							path="../../custom-modules/SR One Col 01",
							offset=0,
							width=12,
							column=[ {
							"add_to_lightbox" : false,
							"col_content" : "",
							"col_media_type" : "none",
							"col_overlay_color" : {
								"color" : "#000000",
								"opacity" : 50
							},
							"col_text_align" : "auto",
							"ctas" : [ {
								"add_icon" : false,
								"button_text" : "We're Hiring",
								"cta_size" : "md",
								"cta_style" : "primary",
								"cta_type" : "btn",
								"default" : {
								"background" : {
									"color" : "#0c63ff",
									"opacity" : 100
								},
								"border" : {
									"color" : "#0c63ff",
									"opacity" : 100
								},
								"text" : {
									"color" : "#fff",
									"opacity" : 100
								}
								},
								"hover" : {
								"background" : {
									"color" : "#5a93fd",
									"opacity" : 100
								},
								"border" : {
									"color" : "#5a93fd",
									"opacity" : 100
								},
								"text" : {
									"color" : "#fff",
									"opacity" : 100
								}
								},
								"icon" : {
								"icon" : {
									"name" : "arrow-right",
									"type" : "SOLID",
									"unicode" : "f061"
								},
								"position" : "right"
								},
								"link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
									"href" : "https://www.lean-labs.com/careers",
									"type" : "EXTERNAL"
								}
								},
								"modal_target" : "demo"
							}, {
								"add_icon" : false,
								"button_text" : "Meet the Rest of Team",
								"cta_size" : "md",
								"cta_style" : "outline-primary",
								"cta_type" : "btn",
								"default" : {
								"background" : {
									"color" : "#0c63ff",
									"opacity" : 100
								},
								"border" : {
									"color" : "#0c63ff",
									"opacity" : 100
								},
								"text" : {
									"color" : "#fff",
									"opacity" : 100
								}
								},
								"hover" : {
								"background" : {
									"color" : "#5a93fd",
									"opacity" : 100
								},
								"border" : {
									"color" : "#5a93fd",
									"opacity" : 100
								},
								"text" : {
									"color" : "#fff",
									"opacity" : 100
								}
								},
								"icon" : {
								"icon" : {
									"name" : "arrow-right",
									"type" : "SOLID",
									"unicode" : "f061"
								},
								"position" : "right"
								},
								"link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
									"href" : "https://www.lean-labs.com/growthteam",
									"type" : "EXTERNAL"
								}
								},
								"modal_target" : "demo"
							} ],
							"custom_column_size" : false,
							"heading" : [ ],
							"image_link" : {
								"no_follow" : false,
								"open_in_new_tab" : false,
								"url" : {
								"type" : "EXTERNAL"
								}
							},
							"lead_text" : false,
							"text_color" : "auto",
							"video" : {
								"autoplay" : true,
								"background_video_design" : "none",
								"custom_accent_color" : {
								"color" : "#000000",
								"opacity" : 20
								},
								"embed_field" : {
								"source_type" : "oembed"
								},
								"html_video" : [ "https://www.lean-labs.com/hubfs/sr-assets/videos/sr-demo.mp4" ],
								"loop" : true,
								"muted" : true,
								"oembed_thumbnail" : {
								"loading" : "disabled",
								"src" : ""
								},
								"placeholder_fields" : {
								"placeholder_description" : "Select a video type in the sidebar.",
								"placeholder_title" : "No video selected"
								},
								"show_controls" : true,
								"style_options" : {
								"oembed_thumbnail_play_button_color" : {
									"color" : "#ffffff"
								}
								},
								"video_accent_color" : "primary",
								"video_poster" : {
								"alt" : "Sprocket Rocket Demo",
								"size_type" : "exact",
								"src" : "https://f.hubspotusercontent20.net/hubfs/275827/sr-assets/videos/sr-demo-poster.jpg"
								},
								"video_type" : "html_video"
							}
							} ],
							design_settings={
							"spacing" : {
								"margin" : {
								"bottom" : {
									"units" : "rem",
									"value" : 0
								},
								"top" : {
									"units" : "rem",
									"value" : 0
								}
								},
								"padding" : {
								"bottom" : {
									"units" : "rem",
									"value" : 6.25
								},
								"left" : {
									"units" : "rem",
									"value" : 0
								},
								"right" : {
									"units" : "rem",
									"value" : 0
								},
								"top" : {
									"units" : "rem",
									"value" : 3.125
								}
								}
							},
							"text_align" : {
								"text_align" : "CENTER"
							},
							"top_bottom_padding" : "half"
							}
						%}
						{% end_dnd_module %}
					{% end_dnd_row %}
				{% end_dnd_column %}
				{% end_dnd_section %}




			{% end_dnd_area %}

		{% endblock body %}

		{% block footer %}
			{% boolean "enabled_site_footer" label='Enable Global Site Footer', value=true, export_to_template_context=True %}
			{% if widget_data.enabled_site_footer.value %}
				{% global_partial path="../partials/site_footer.html" %}
			{% endif %}
		{% endblock footer %}

		{% include '../footer-includes.html' %}
	</body>
</html>
