{% if module.enabled %}
{% import "../../templates/macros.html" as macros %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}

	<div class="sr-cards-grid-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
				<div class="row">
					<div class="{{ width_class }}">
			{% endif %}
						{% if module.heading || module.description %}
							<div class="{% if module.text_align != 'auto' %} text-{{ module.text_align }}{% endif %} {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %} sr-spacer-bottom-100">
								{{ macros.heading(module.heading) }}
								{% if module.description %}
									<div class="description {% if module.lead_text %} lead{% endif %}">
										{{ module.description }}
									</div>
								{% endif %}
							</div>
						{% endif %}
						<div class="cards row">
							{% for item in module.column %}
								<div class="card col-lg-4 col-md-6 {% if item.text_align != 'auto' %} text-{{ item.text_align }}{% endif %}" style="--bg: {{ item.col_background.css }}; --hoverBG: {{ item.col_hover_background.css }};{% if item.col_border.color %} --border: {{ item.col_border.css }}{% endif %}">
									<div class="card-inner border-{% if item.col_border.color %}custom{% else %}primary{% endif %}">
										{{ macros.heading(item.heading) }}
										<div class="{% if item.lead_text %} lead{% endif %}">{{ item.col_text }}</div>
										{{ macros.cta(item.ctas) }}
									</div>
								</div>
							{% endfor %}
						</div>
			{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% set mdBottomRowCount = module.column|length % 3 %}
	{% if mdBottomRowCount == 0 %}
		{% set mdBottomRowCount = 3 %}
	{% endif %}

	{% set smBottomRowCount = module.column|length % 2 %}
	{% if smBottomRowCount == 0 %}
		{% set smBottomRowCount = 2 %}
	{% endif %}
	{% require_css %}
		<style>
			{{ macros.design_settings(name, module.design_settings) }}
			@media only screen and (min-width: 768px) and (max-width: 992px) {
				.{{ name }}.sr-cards-grid-01 .card {
					border-right: 1px solid {{ module.grid_border_color.color }};
					border-bottom: 1px solid {{ module.grid_border_color.color }};
				}
			}
			@media only screen and (min-width: 992px) {
				.{{ name }}.sr-cards-grid-01 .card {
					border-right: 1px solid {{ module.grid_border_color.color }};
					border-bottom: 1px solid {{ module.grid_border_color.color }};
				}
				.sr-cards-grid-01 .cards .card:nth-last-child(-n+{{ mdBottomRowCount }}) {
					border-bottom: none;
				}
			}
			@media only screen and (min-width: 767px) {
				.sr-cards-grid-01 .cards .card:nth-last-child(-n+{{ smBottomRowCount }}) {
					border-bottom: none;
				}
			}
			@media only screen and (max-width: 768px) {
				.{{ name }}.sr-cards-grid-01 .card {
					border-right: none;
					border-bottom: none;
					border-top: 1px solid {{ module.grid_border_color.color }};
				}
			}
			.{{ name }}.sr-cards-grid-01 .card {
				background-color: var(--bg);
			}
			.{{ name }}.sr-cards-grid-01 .card:hover,
			.{{ name }}.sr-cards-grid-01 .card:focus {
				background-color: var(--hoverBG);
			}
			.{{ name }}.sr-cards-grid-01 .card .border-custom {
				border-color: var(--border);
			}
		</style>
	{% end_require_css %}
{% endif %}