.sr-tabs-horizontal {
  overflow-x: hidden;
}

.sr-tabs-horizontal [hidden] {
  display: none;
}

.sr-tabs-horizontal .tabs-nav {
  list-style: none;
  padding: 0;
  flex-direction: column;
  display: flex;
  margin: 0;
}

.sr-tabs-horizontal .tab-pane-content {
  padding: 3.25rem 0;
}

.sr-tabs-horizontal .tab-nav-image {
  width: 50px;
  min-width: 50px
}

.sr-tabs-horizontal .tab-nav-image .active,
.sr-tabs-horizontal [aria-selected="true"] .tab-nav-image .default {
  display: none;
}

.sr-tabs-horizontal [aria-selected="true"] .tab-nav-image .active {
  display: block;
}

.sr-tabs-horizontal .tab-pane-image {
  overflow: hidden;
}

.sr-tabs-horizontal .tab-pane-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sr-tabs-horizontal .tab-nav button {
  -webkit-appearance: none;
  border: none;
  display: flex;
  text-align: left;
  gap: 11px;
  padding: 25px 16px;
  background-color: var(--bg-1);
  color: var(--c-1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  height: 100%;
  width: 100%;
  align-items: center;
}

.sr-tabs-horizontal .tab-nav button .tab-heading,
.sr-tabs-horizontal .tab-nav button .tab-nav-icon {
  color: var(--h-1);
}

.sr-tabs-horizontal .tab-nav button[data-state="active"] {
  background-color: var(--bg-2);
  color: var(--c-2);
}

.sr-tabs-horizontal .tab-nav button[data-state="active"] .tab-heading,
.sr-tabs-horizontal .tab-nav button[data-state="active"] .tab-nav-icon {
  color: var(--h-2);
}
.sr-tabs-horizontal .tab-nav button[data-state="active"] .tab-nav-icon {
  background: rgba(0, 0, 0, 0.1);
}

.sr-tabs-horizontal .tab-nav-icon {
  margin-left: auto;
  min-width: 32px;
  height: 32px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}

.sr-tabs-horizontal .tab-nav-icon span {
  line-height: 0;
}

.sr-tabs-horizontal .tab-nav-icon svg {
  fill: currentColor;
}

.sr-tabs-horizontal [role=tabpanel],
.sr-tabs-horizontal [role=tabpanel]>.row {
  height: 100%;
}

@media (max-width: 991px) {
  .sr-tabs-horizontal .tab-nav {
    padding: 0
  }

  .sr-tabs-horizontal .tab-nav button {
    align-items: center;
    justify-content: start;
    border-radius: var(--border_radius);
  }

  .sr-tabs-horizontal .tabs-nav {
    flex-direction: row;
    gap: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sr-tabs-horizontal .tabs-nav>li {
    scroll-snap-align: center;
    white-space: normal;
    min-width: 50vw;
  }
}

.sr-tabs-horizontal .tab-nav-title p {
  font-size: 0.875rem;
}

.sr-tabs-horizontal .tab-nav-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .sr-tabs-horizontal .tabs-nav {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 992px) {
  .sr-tabs-horizontal .tab-nav button { 
    padding: 25px 22px 25px 34px;
  }
  .sr-tabs-horizontal .tab-pane-content {
    padding: 6.25rem 0 3.25rem 1.25rem;
  }
  .sr-tabs-horizontal .tabs-nav li:first-of-type button {
    border-radius: var(--border_radius) var(--border_radius) 0 0;
  }

  .sr-tabs-horizontal .tabs-nav li:last-of-type button {
    border-radius: 0 0 var(--border_radius) var(--border_radius);
    border-bottom: none;
  }
}