.sr-accordion .accordion:not(:last-child) {
    margin-bottom: 1rem;
}

.sr-accordion .accordion_group {
    -webkit-box-shadow: 15px 15px 60px 0 rgba(0, 0, 0, 0.0);
    box-shadow: 15px 15px 60px 0 rgba(0, 0, 0, 0.0);
}

.sr-accordion .accordion_group.expanded {
    -webkit-box-shadow: 15px 15px 60px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 15px 15px 60px 0 rgba(0, 0, 0, 0.13);
}

.sr-accordion .accordion_header {
    cursor: pointer;
    font-size: 1.125rem;
    padding: 2rem 1.55rem;
    padding-right: 62px;
    position: relative;
}

.sr-accordion .accordion_header .heading {
    margin: 0;
}

.sr-accordion .accordion_content {
    max-height: 0;
    position: relative;
    overflow: hidden;
    transition: max-height .25s;
}

.sr-accordion .expanded .accordion_content {
    max-height: 1000px;
}

.sr-accordion .accordion_content .description {
    padding: 1.5rem 1.25rem;
}

.sr-accordion .accordion_group.ex .accordion_content {
    display: block
}

.sr-accordion .accordion_content p:last-child {
    margin: 0;
}

.sr-accordion .hs-accordion__item-icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    right: 1.4rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid;
    border-radius: 50%;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    pointer-events: none;
}

.sr-accordion .accordion_group.expanded .hs-accordion__item-icon {
    -webkit-transform: translateY(-50%) rotate(135deg);
    -ms-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
}

.sr-accordion .hs-accordion__item-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sr-accordion span.p {
    height: 2.5px;
    width: .7rem;
}

.sr-accordion span.b {
    height: .7rem;
    width: 2.5px;
}