{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}
		.{{ name }} .sr-card {
			{{ module.design_settings.card_styles.spacing.css }}
			{%- if module.design_settings.card_styles.background_color == "gradient" -%}
			background: {{ module.design_settings.card_styles.background_gradient.css }};
			{%- elif module.design_settings.card_styles.background_color == "custom" -%}
			background-color: {{ module.design_settings.card_styles.background_custom.css }};
			{%- elif module.design_settings.card_styles.background_color != "auto" -%}
			background-color: var(--{{ module.design_settings.card_styles.background_color }});
			{%- endif -%}
			{%- if module.design_settings.card_styles.text_color == "custom" %}
			color: {{ module.design_settings.card_styles.text_color_custom.css }};
			{%- endif -%}
			{% if module.design_settings.card_styles.border.css %}
			{{ module.design_settings.card_styles.border.css }}
			{% endif %}
			{% if module.design_settings.card_styles.border_radius >= 0 %}
			border-radius: {{ module.design_settings.card_styles.border_radius }}px;
			{% endif %}
			{% if module.design_settings.card_styles.shadow %}
			box-shadow: {{ "inset" if module.design_settings.card_styles.inset }} {{ module.design_settings.card_styles.horizontal ~ "px" }} {{ module.design_settings.card_styles.vertical ~ "px" }} {{ module.design_settings.card_styles.blur ~ "px" }} {{ module.design_settings.card_styles.spread ~ "px" }} {{ module.design_settings.card_styles.color.css }};
			{% endif %}
		}
	</style>
	{% end_require_css %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}

	<div class="sr-three-col-features-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
				<div class="row features-row">
					<div class="{{ width_class }}">
			{% endif %}

						{% if module.heading ||  module.description %}
							<div class="sr-spacer-bottom-50 text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }}">
								{{ macros.heading(module.heading) }}

								{% if module.description %}
									<div class="description{% if module.lead_text %} lead{% endif %} ">{{ module.description}}</div>
								{% endif %}
							</div>
						{% endif %}

						<div class="row">
							<div class="col-md-4">
								<div class="feature-list text-center">
									<ul>
										{% for item in module.items %}

										{% set href = item.link.url.href %}
										{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
											{% set href = "mailto:" + href %}
										{% endif %}
										{% set rel = [] %}
										{% if item.link.no_follow %}
											{% do rel.append("nofollow") %}
										{% endif %}
										{% if item.link.open_in_new_tab %}
											{% do rel.append("noopener") %}
										{% endif %}

											{% if module.items|length == 2 %}
												{% if loop.index == 1 %}
													<li id="feature0{{loop.index}}" class="{% if href %}link{% endif %} sr-card sr-border text-{{ module.design_settings.card_styles.text_color }}" tabindex="0">
														{% if href %}
														<a href="{{ href }}" {% if module.link.open_in_new_tab %}target="_blank" aria-label="(Opens in new tab)"{% endif %} {% if rel %}rel="{{ rel|join(" ") }}"{% endif %} role="link">
														{% endif %}

															<div class="sr-spacer-bottom-25 icon-container">
																{{ macros.image(item.icon, 'data-hover="{{item.hover_image.src}}" data-hover-width="{{item.hover_image.width}}" data-hover-height="{{item.hover_image.height}}" data-icon-2="{{item.icon_2.src}}" class="main-icon"') }}
																{% if item.icon_2 %}
																	{{ macros.image(item.icon_2, 'class="hover-icon"') }}
																{% endif %}
															</div>
															<h3 class="h4 heading">{{item.title}}</h3>
															{% if item.description %}
																<div>
																	{{item.description}}
																</div>
															{% endif %}

														{% if href %}
														</a>
														{% endif %}
													</li>
												{% endif %}
											{% else %}
												{% if loop.index <= 2 %}
													<li id="feature0{{loop.index}}" class="{% if href %}link{% endif %} sr-card sr-border text-{{ module.design_settings.card_styles.text_color }}" tabindex="0">
														{% if href %}
														<a href="{{ href }}" {% if module.link.open_in_new_tab %}target="_blank" aria-label="(Opens in new tab)"{% endif %} {% if rel %}rel="{{ rel|join(" ") }}"{% endif %} role="link">
														{% endif %}
															<div class="sr-spacer-bottom-25 icon-container">
																{{ macros.image(item.icon, 'data-hover="{{item.hover_image.src}}" data-hover-width="{{item.hover_image.width}}" data-hover-height="{{item.hover_image.height}}" data-icon-2="{{item.icon_2.src}}" class="main-icon"') }}
																{% if item.icon_2 %}
																	{{ macros.image(item.icon_2, 'class="hover-icon"') }}
																{% endif %}
															</div>
															<h3 class="h4 heading">{{item.title}}</h3>
															{% if item.description %}
																<div>
																	{{item.description}}
																</div>
															{% endif %}
														{% if href %}
														</a>
														{% endif %}
													</li>

												{% endif%}
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="col-md-4 text-center featured-device">
								<div class="feature-device">
									{{macros.image(module.feature_image)}}
									<div class="float-image">
										{{macros.image(module.items[0].hover_image)}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-list text-center">
									<ul>
										{% for item in module.items %}

											{% set href = item.link.url.href %}
											{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
												{% set href = "mailto:" + href %}
											{% endif %}
											{% set rel = [] %}
											{% if item.link.no_follow %}
												{% do rel.append("nofollow") %}
											{% endif %}
											{% if item.link.open_in_new_tab %}
												{% do rel.append("noopener") %}
											{% endif %}

											{% if module.items|length == 2 %}
												{% if loop.index == 2 %}
													<li id="feature0{{loop.index}}" class="{% if href %}link{% endif %} sr-card sr-border text-{{ module.design_settings.card_styles.text_color }}" tabindex="0">
														{% if href %}
														<a href="{{ href }}" {% if module.link.open_in_new_tab %}target="_blank" aria-label="(Opens in new tab)"{% endif %} {% if rel %}rel="{{ rel|join(" ") }}"{% endif %} role="link">
														{% endif %}
															<div class="sr-spacer-bottom-25 icon-container">
																{{ macros.image(item.icon, 'data-hover="{{item.hover_image.src}}" data-hover-width="{{item.hover_image.width}}" data-hover-height="{{item.hover_image.height}}" data-icon-2="{{item.icon_2.src}}" class="main-icon"') }}
																{% if item.icon_2 %}
																	{{ macros.image(item.icon_2, 'class="hover-icon"') }}
																{% endif %}
															</div>
															<h3 class="h4 heading">{{item.title}}</h3>
															{% if item.description %}
																<div>
																	{{item.description}}
																</div>
															{% endif %}
														{% if href %}
														</a>
														{% endif %}
													</li>
												{% endif %}
											{% else %}
												{% if loop.index >= 3 %}
												<li id="feature0{{loop.index}}" class="{% if href %}link{% endif %} sr-card sr-border text-{{ module.design_settings.card_styles.text_color }}" tabindex="0">
													{% if href %}
													<a href="{{ href }}" {% if module.link.open_in_new_tab %}target="_blank" aria-label="(Opens in new tab)"{% endif %} {% if rel %}rel="{{ rel|join(" ") }}"{% endif %} role="link">
													{% endif %}
														<div class="sr-spacer-bottom-25 icon-container">
															{{ macros.image(item.icon, 'data-hover="{{item.hover_image.src}}" data-hover-width="{{item.hover_image.width}}" data-hover-height="{{item.hover_image.height}}" data-icon-2="{{item.icon_2.src}}" class="main-icon"') }}
															{% if item.icon_2 %}
																{{ macros.image(item.icon_2, 'class="hover-icon"') }}
															{% endif %}
														</div>
														<h3 class="h4 heading">{{item.title}}</h3>
														{% if item.description %}
															<div>
																{{item.description}}
															</div>
														{% endif %}
													{% if href %}
													</a>
													{% endif %}
												</li>
												{% endif%}
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>

						<div class="{{ macros.text_align(module.design_settings) }}">
							{{ macros.cta(module.ctas) }}
						</div>

			{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}