{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}
	
	{% set width_class =
			module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
			module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
			module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
			'col-lg-12'
		%}
	
	<div class="sr-contact-01 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>
	
		{{ macros.module_bg_video(module) }}
	
		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }}">
					{% endif %}
					<section class="sr-location">
						<div class="row">
							<div class="media">
								<div class="media-wrapper {{'no-body' if module.heading|length < 1 || !module.description}}">
									<div id="map-{{name}}" class="sr-map media-figure" style="--map_min_height: {{ module.map_min_height }}px; {% if module.type == "image" %}background-image: url({{ resize_image_url(module.map_image.src, module.map_image.width) }}){% endif %}"
										 data-latitude="{{ module.latitude }}"
										 data-longitude="{{ module.longitude }}"
										 data-map-zoom="{{ module.map_zoom }}"
										 data-map-marker="{{ module.map_marker }}"
										 data-style="{{ module.map_theme }}">
										{% if module.type == "embed" %}
										<div class="map-embed" style="--height:{{module.map_min_height}}px">
											{{module.embed}}
										</div>
										{% endif %}
									</div>
								</div>
	
								{% if module.heading|length > 0 || module.description %}
								<div class="media-body sr-card text-{{ module.design_settings.card_styles.text_color }}">
	
									{% if module.heading || module.description || module.ctas|length %}
									<div>
										{{ macros.heading(module.heading) }}
	
										{% if module.description %}
										<div class="description {% if module.lead_text %} lead{% endif %}">{{ module.description}}</div>
										{% endif %}
	
										{{ macros.cta(module.ctas, 'sr-spacer-top-25') }}
									</div>
									{% endif %}
								</div>
								{% endif %}
							</div>
						</div>
					</section>
					{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	
	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}
		.{{ name }} .media {
			{%- if module.design_settings.card_styles.background_color == "gradient" -%}
			background: {{ module.design_settings.card_styles.background_gradient.css }};
			{%- elif module.design_settings.card_styles.background_color == "custom" -%}
			background-color: {{ module.design_settings.card_styles.background_custom.css }};
			{%- elif module.design_settings.card_styles.background_color != "auto" -%}
			background-color: var(--{{ module.design_settings.card_styles.background_color }});
			{%- endif -%}
			{%- if module.design_settings.card_styles.text_color == "custom" %}
			color: {{ module.design_settings.card_styles.text_color_custom.css }};
			{%- endif -%}
			{% if module.design_settings.card_styles.border.css %}
			{{ module.design_settings.card_styles.border.css }}
			{% endif %}
			{% if module.design_settings.card_styles.shadow %}
			box-shadow: {{ "inset" if module.design_settings.card_styles.inset }} {{ module.design_settings.card_styles.horizontal ~ "px" }} {{ module.design_settings.card_styles.vertical ~ "px" }} {{ module.design_settings.card_styles.blur ~ "px" }} {{ module.design_settings.card_styles.spread ~ "px" }} {{ module.design_settings.card_styles.color.css }};
			{% endif %}
			{% if module.design_settings.card_styles.border_radius >= 0 %}
			border-radius: {{ module.design_settings.card_styles.border_radius }}px;
			{% endif %}
			overflow: hidden;
		}
	
		.{{ name }} .media-body {
			{{ module.design_settings.card_styles.spacing.css }}
		}
	
		{% if module.design_settings.responsive_settings.tablet.card_styles.spacing.css %}
		@media{{"(min-width: 768px) and" if module.design_settings.responsive_settings.mobile.card_styles.spacing.css }} (max-width: 991.99px) {
			.{{ name }} .media-body {
				{{ module.design_settings.responsive_settings.tablet.card_styles.spacing.css }}
			}
		}
		{%- endif %}
		{% if module.design_settings.responsive_settings.mobile.card_styles.spacing.css %}
		@media(max-width: 767.99px) {
			.{{ name }} .media-body {
				{{ module.design_settings.responsive_settings.mobile.card_styles.spacing.css }}
			}
		}
		{%- endif %}
	</style>
	{% end_require_css %}
	
	{% if module.type == "api" %}
	{{ require_js('//maps.googleapis.com/maps/api/js?key=' + module.api) }}
	{% endif %}
	{% endif %}