{% if module.enabled %}

	{% import "../../templates/macros.html" as macros %}

	{% set width_class =
		module.design_settings.container_width == 'min' ? 'col-lg-6 offset-lg-3' :
		module.design_settings.container_width == 'narrow' ? 'col-lg-8 offset-lg-2' :
		module.design_settings.container_width == 'wide' ? 'col-lg-10 offset-lg-1' :
		'col-lg-12'
	%}

	<div class="sr-offer-bar-07 {{ name }} {{ macros.module_background(module.design_settings) }} {{ macros.padding(module.design_settings) }} text-{{ module.design_settings.text_color }} {{ macros.text_align(module.design_settings) }} prototype-no-background{% if module.class %} {{ module.class }}{% endif %} sr_module" {% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %} {{ "data-preview" if module_preview }}>

		{{ macros.module_bg_video(module) }}

		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }} ">
					{% endif %}
					<div class="row d-flex align-items-center">
						<div class="col col-md-12">
							{% if module.heading || module.description %}
							<div class="row d-flex align-items-center sr-offer-bar-07-heading">
								<div class="col-md-12 col-lg-12">
									{{ macros.heading(module.heading) }}
									{% if module.description %}
									<div class="description{% if module.lead_text %} lead{% endif %}">
										{{ module.description }}
									</div>
									{% endif %}
								</div>
							</div>
							{% endif %}
							<div class="row d-flex align-items-start sr-offer-bar-07-stats sr-spacer-50">
								{% set colsize = 12 / module.feature|length %}
								{% for item in module.feature %}
								<div class="col-md-{{ colsize|int }} col-sm-6 my-4 my-md-0">
									{{ macros.heading(item.heading, 'mb-0') }}
									<div class="description">
									{{ item.description }}
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row d-flex align-items-center sr-offer-bar-07-form">
								<div class="col-md-6 offset-md-3">
									{{ macros.form(module.form, false, true, "Download Guide") }}
									<div class="sr-offer-bar-07-info small description sr-spacer-top-50 px-2">
										{{ module.information }}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% if module.design_settings.container_width != 'max' %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	{% require_css %}
	<style>
		{{ macros.design_settings(name, module.design_settings) }}
	</style>
	{% end_require_css %}
{% endif %}